DATABASE_URL="file:./prisma/dev.db"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
ADMIN_PASSWORD="changeme"
SMTP_HOST="localhost"
SMTP_PORT="1025"
SMTP_USER=""
SMTP_PASS=""
FROM_EMAIL="noreply@rl-reader.local"
ENABLE_WEB_PUSH="false"
VAPID_PUBLIC_KEY=""
VAPID_PRIVATE_KEY=""
